src/tech/aistar/day18/homework/student.dtd

<?xml version="1.0" encoding="UTF-8"?>

        <!ELEMENT students (student+)>
        <!ELEMENT student (name,no,birthday,adress)>
        <!ATTLIST student
                id CDATA #REQUIRED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT no (#PCDATA)>
        <!ELEMENT birthday (#PCDATA)>
        <!ELEMENT adress (province,city)>

        <!ELEMENT province (#PCDATA)>
        <!ELEMENT city (#PCDATA)>